<% provide(:title, "About") %>
<h1>ABOUT US</h1>
<p>
    We are aimed for doers & We believe in doers
    Vikgol is aimed at providing the real-time on-demand
    workforce to get the digital tasks done by our managed
    Vikgolers(freelancers).
</p>