<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
#265, 6th Main, 4th Cross, Stage 2,
</p>
<p> BTM Layout, Bengaluru, Karnataka 560076
</p>
<p>Mob: +91 9940 526 611
</p>
<p>EmailId: contact@vikgol.com
</p>